{% extends 'base.html.twig' %}

{% block body %}      
    <!-- Début du carroussel -->
    <div class="container-fluid p-0 mb-5">
        <div id="headerCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images\carroussel1.png" class="w-100" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h6 class="section-title text-white text-uppercase mb-3">Logements insolites</h6>
                            <h1 class="display-3 text-white mb-4">Loin des Sentiers Battus</h1>
                            <a href="" class="btn btn-success py-md-3 px-md-5 me-3">Nos logements</a>
                        </div>
                    </div>  
                </div>
                <div class="carousel-item">
                    <img src="images\carroussel2.png" class="w-100" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h6 class="section-title text-white text-uppercase mb-3">Logements insolites</h6>
                            <h1 class="display-3 text-white mb-4">Loin des Sentiers Battus</h1>
                            <a href="" class="btn btn-success py-md-3 px-md-5 me-3">Nos logements</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="images\carroussel3.png" class="w-100" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 700px;">
                            <h6 class="section-title text-white text-uppercase mb-3">Logements insolites</h6>
                            <h1 class="display-3 text-white mb-4">Loin des Sentiers Battus</h1>
                            <a href="" class="btn btn-success py-md-3 px-md-5 me-3">Nos logements</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Début du carroussel -->

    <!-- Début Recherche -->
    <div class="container-fluid booking pb-5">
        <div class="container">
            <div class="bg-white shadow" style="padding: 35px;">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-3">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input id="dateDebutSearch" type="text" class="form-control datepicker" placeholder="Début séjour" data-target="#date1" data-date-format="dd/mm/yyyy"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="date" id="date2" data-target-input="nearest">
                                    <input id="dateFinSearch" type="text" class="form-control datepicker" placeholder="Fin séjour" data-target="#date2" data-date-format="dd/mm/yyyy"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select">
                                    <option selected>Adultes</option>
                                    <option value="1">1 adulte</option>
                                    <option value="2">2 adultes</option>
                                    <option value="3">3 adultes</option>
                                    <option value="3">4 adultes</option>
                                    <option value="3">5 adultes</option>
                                    <option value="3">6 adultes</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-select">
                                    <option selected>Enfants</option>
                                    <option value="1">1 enfant</option>
                                    <option value="2">2 enfants</option>
                                    <option value="3">3 enfants</option>
                                    <option value="3">4 enfants</option>
                                    <option value="3">5 enfants</option>
                                    <option value="3">6 enfants</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success w-100">Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recherche -->

    <!-- Début Coups de coeur -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="mb-4">Nos coups de <span class="text-success">coeur</span> de la semaine</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <a class="btn btn-success py-3 px-5 mt-2" href="">Voir les offres</a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75" src="images/igloo.png" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100" src="images/bulle.png">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-50" src="images/teepee.png">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75" src="images/yourte.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Coups de coeur -->    

    <!-- Début liste logements -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <h1 class="mb-5">Découvre nos <span class="text-success text-uppercase">logements</span></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="images/vignette.png" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-success text-white rounded py-1 px-3 ms-4">$100/Night</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">Junior Suite</h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                                <small><i class="fa fa-wifi text-success me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                            <div class="d-flex flex-row-reverse">
                                <a class="btn btn-sm btn-success rounded py-2 px-4" href="{{ path('logement', { reference: 1 }) }}">+ d'infos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="images/vignette.png" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-success text-white rounded py-1 px-3 ms-4">$100/Night</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">Executive Suite</h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                                <small><i class="fa fa-wifi text-success me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                            <div class="d-flex flex-row-reverse">
                                <a class="btn btn-sm btn-success rounded py-2 px-4" href="{{ path('logement', { reference: 1 }) }}">+ d'infos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="images/vignette.png" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-success text-white rounded py-1 px-3 ms-4">$100/Night</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">Super Deluxe</h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                    <small class="fa fa-star text-success"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-success me-2"></i>3 Bed</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-success me-2"></i>2 Bath</small>
                                <small><i class="fa fa-wifi text-success me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                            <div class="d-flex flex-row-reverse">
                                <a class="btn btn-sm btn-success rounded py-2 px-4" href="{{ path('logement', { reference: 1 }) }}">+ d'infos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin liste logements -->   

{% endblock %}

{% block scriptsSpe %}
         <script src="../js/index.js"></script>   
{% endblock %}